@charset "UTF-8";
@import url('https://fonts.googleapis.com');
@import url('https://fonts.gstatic.com" crossorigin');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet"');

html{
    height:100%;
}
body{
    height:100%;
    margin:0;
}
main{
    height:100%;
    background-color:black;
    display:flex;
    flex-direction: column;
}
header{
    height:23px;
    background-color:#505050;
}
section{
    background-color:lime;
    height:100%;
    display:flex;
}
aside{
    background-color:#505050;
    width:45px;
}

.tray{
    width:144px;
    min-width:144px;
    background-color:#7b7575;
    transition:all 1s;
    color:white;
    display:flex;
    justify-content: flex-end;
    overflow: hidden;
}

div.tray div{
    min-width:144px;
    box-sizing: border-box;
    font-family: Roboto;
    /*border:1px solid cyan;*/
}
.hide{
    width:0;
    min-width:0;
    transition:all 1s;
}
.files{
    position:absolute;
    width: 136px;
    height: 124px;
    font-size: 12px;
    row-height: 14px;
    text-align: left;
    border-bottom: 1px Middle rgb(123, 117, 117);
    align-items: space-between;
}

ul{
    list-style-image: url(images/paper.png);
}

#program{
    background-color:#060606;
    width:100%;
    display:flex;
    flex-direction: column;
}
nav{
    height:34px;
    display:flex;
}
button{
    width:173px;
    border-radius: 0;
    border:0 solid #161616;
    margin-right:2px;
} /*use divs dont use buttons*/

#firstButton{
    width: 13px;
    height: 50px;
}
.fa-inbox{
    color: gray;
}
.fa-windows{
    color: gray;
}

.fa-trash-can{
    color:gray;
    width: 26px;
    height: 32px;
    align-content: flex-end;
    position: absolute;
    left: 9px;
    right: 10px;
    top: 718px;
    bottom: -20px;
}

#firstButton svg{
    width: 13px;
    height: 50px;
}

button.active{
    background-color:#161616;
}
button:last-child{
    margin:0;
}
#breadcrumbs{
    height:23px;
    background-color:#161616;
}
textarea{
    box-sizing: border-box;
    width:100%;
    height:100%;
    background-color:#060606;
    border:0 solid #060606;
    resize: none;
    color:#ffffff;
    outline:none;
    overflow-y:auto;
}
footer{
    height:16px;
    background-color:#0254A0;
}

