html {
    height: 100%;
    font-size: 16px;
}

body {
    font-family: Arial, sans-serif; 
    background-color: whitesmoke;
    margin: 0;
    height: 100%;
}

h1 {
    font-size: 1.5em; 
    text-align: center;
    margin: 20px;
    color: #333;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}


th, td {
    padding: 10px;
    text-align: left;
    border: 1px solid lightgray;
    font-size: 1em;
}

thead tr.full-names th, thead tr.full-names td {
    background-color: black; 
    color: white; 
}

thead tr.abbreviated-names th, thead tr.abbreviated-names td {
    background-color: palevioletred; 
    color: black; 
}

tbody tr:nth-child(odd) {
    background-color: whitesmoke;
}

tbody tr:nth-child(even) {
    background-color: white;
}


@media (max-width: 1920px) {
    h1 {
        font-size: 1.5em; 
    }
    th, td {
        font-size: 1em; 
    }
    thead tr.full-names {
        display: table-row;
    }
    thead tr.abbreviated-names {
        display: none;
    }
}

@media (max-width: 1000px) {
    h1 {
        font-size: 1.5em; 
    }
    th, td {
        font-size: 1em; 
        padding: 10px;
        border: 1px solid lightgrey;
    }
    thead tr.full-names {
        display: none;
    }
    thead tr.abbreviated-names {
        display: table-row;
    }

}

@media (max-width: 500px) {
    h1 {
        font-size: 2em; 
    }
    th, td {
        font-size: 1.25em; 
    }
    thead tr.full-names, thead tr.abbreviated-names {
        display: none;
    }
    tbody .stat {
        display: none;
    }
}
