@charset "UTF-8";
html{
    height: 100%;
}
body{
    height: 100%;
    /* need height here and in html in order to build main inside of it*/
    margin: 0;
    background-color: aquamarine;
    display: flex;
    justify-content: center;
    align-items: center;
}
main{
    display:flex;
    /*^^^FLEXBOX; this will make the divs go side by side, ALSO RESIZES/ADJUSTS WHAT IS INSIDE*/
    background-color: yellow;
    padding: 20px;
    height: 50%;
    flex-direction: row ;
    /*COLUMNS WILL AUTO ADJUST BUT WILL LOOK DEFAULT^^*/
    justify-content: space-between;
    /*flex-wrap: wrap; nowrap is the default*/
    align-items: center;

    /*justify vertical, align horizontal*/
}
div{
    /* width:500px;*/
    min-width:50px;
    height:100px;
    background-color: indianred;
    border: 2px solid black;
}